@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-green: hsl(148, 38%, 91%);
    --medium-green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --white: hsl(0, 0%, 100%);
    --medium-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

body {
    background: var(--light-green);
    padding: 15px;
    font-family: "Karla", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--dark-grey);
}

main {
    padding: 2.5rem;
    border-radius: 15px;
    background: var(--white);
}

input {
    display: block;
    margin: 10px 0 0;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
}

input:hover, input:active {
    border: 1px solid var(--medium-green);
}

input:focus {
    outline: none;
    border: 2px solid var(--medium-green);
}

span {
    color: var(--medium-green);
}

h1 {
    margin: 20px 0;
    font-size: 2.5rem;
}

textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    resize: none;
}

input[type=submit] {
    background: var(--medium-green);
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
}

input[type=submit]:hover {
    background: var(--light-green);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

input[type=submit]:active {
    background: var(--medium-green);
}

input[type=checkbox] {
    width: auto;    
}

div {
    margin-bottom: 10px;
}

.error {
    display: none;
    color: var(--red);
    font-size: 12px;
    margin-bottom: 5px;
}

.radio-btn input{
    width: auto;
    padding-left: 15px;
    margin: 0;
}

.radio-btn {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    border: 1px solid var(--medium-green);
    padding: 0.7rem 1.3rem;
    margin-top: 0.5rem;
    border-radius: 0.375rem;
    width: 100%;
}

.checkbox {
    display: flex;
    align-items: self-end;
    gap: 20px;
}

.checkbox input {
    width: auto;
    padding-left: 15px;
    margin: 0;
}

textarea {
    border: 1px solid var(--medium-green);
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
}
textarea:focus-within {
    outline: none;
    border: 2px solid var(--medium-green);
}

/* Style the radio buttons */
#general, #support {
    accent-color: var(--medium-green);
    width: 18px;
    height: 18px;
}

@media screen and (min-width:768px) {
   main {
        width: 45rem;
        padding: 2.5rem;
        margin: 7rem auto;
   }
   
    .flex {
        display: flex;
        gap: 15px;
    } 

    .flex-desk {
        width: 100%;
    }
}

